
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
* {
font-family: 'Shrikhand', cursive;

}
body {
    background-image: url("mapo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: green;
}
.formski {
    background-color: blue;
    margin: auto;
    padding-left: 50px;
    padding-top: 50px;
    width: 500px;
}
label {
    font-size:32px;
}
.subsub {
    background-color: black;
    color: white;
    font-size: 26px;
}
.timer {
    width: 550px;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;

}


